<div id="about">
	<span class="dashed-border">
		TwitterBash is a fun little project built by <a href="http://www.jonathanfielding.com">Jonathan Fielding</a> based on work by Gaurav Jassal
	</span>
	
	<p>The core idea behind TwitterBash is to strip away the gui for twitter, what twitter does best is share 140 character long messages and what TwitterBash demonstrates is that it works perfectly well as a console tool</p>

	<h3>
		Other Projects,
	</h3>
	<ul>
		<li>
			<h4>Jonathan Fielding Blog</h4>
			<p>My blog covers everything web development related both frontend and backend.</p>
			<a href="http://www.jonathanfielding.com/">Visit Website</a>
		</li>
	</ul>
</div>
